body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding: 20px 0px;
}

h1 {
  margin: 0px 0px 10px 0px;
  font-family: "Lexend Mega", sans-serif;
}

.links a {
  text-decoration: none;
  margin: 0px 5px;
  color: blue;
}

a:visited {
  color: blue;
}

.content {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin: 40px;
}

.app-content {
  position: relative;
  margin: 0px 40px 30px;
  height: 350px;
}

.app-preview {
  height: 190px;
  position: relative;
}

.app-preview img {
  width: 300px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.app-preview img:hover {
  opacity: 80%;
}

.app-info {
  width: 300px;
}

.app-name {
  margin: 10px 0px;
  font-size: 18pt;
  text-align: center;
}

.sub-header {
  font-size: 12pt;
  text-align: center;
  margin-bottom: 10px;
}

.app-description {
  text-align: center;
  font-size: 11pt;
}
